<html>
<head>
<style type="text/css">
body{
	background-image:url(pictures\111.jpg) bottom right no-repeat;
	background-repeat:no-repeat;
	width:100%;
	height:auto;
	background-attachment:fixed;
}
</style>
</head>
